*{ /*odwolanie do calej strony*/
    scroll-behavior: smooth; /*smooth sie scrolluje*/
}

/**/
body{
    background-color: rgb(66,97,82);
    margin: 0; /*przysuwa maksymalnie do lewej*/
}
/*DODAWANIE CZCIONEK*/
@font-face {
    font-family: 'Catchye';
    src: url('assets/Catchye.otf') format('opentype');
    font-weight:normal;
    font-style: normal;
} 
@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('assets/Louis George Cafe.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
} 

/*Header*/
header{
    width :100%;
    background-color: rgb(66,97,82);
    color: rgb(255,255,243);
    padding: 20px; /*marginees wewnetrzny*/
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box; /*sprawia ze width 100 obejmuje tez padding*/
    /*ustawienia tekstu*/
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-size: 28px;

    border-bottom: 10px solid transparent;
    border-image: url('assets/obramowkanaglowka.png') 30 stretch;
    border-width: 20;
    
}
ul.menu{
    display: flex;
    align-items: center;
}



/*Naglowek*/
.hero{ /*odwolanie do klasy odbywa sie przez kropke*/

    background-image: url(assets/zdjecienaglowka.png);
    background-size: cover;
    /*ramka do zdjecia*/
    border: 10px solid transparent;
    border-image: url('assets/obramowkanaglowka.png') 30 stretch;
    border-width: 20;
    /*zdjecie na tlo*/
    height: 65vh;


    background-repeat: no-repeat ; /*zdjecie sie nie powtarza*/
    background-size: cover; /*zeby wypelnil caly obszar*/
    /*uklad tekstu i informacje o nim*/
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    box-sizing: border-box;
    /* font-size: 100%; */
    font-family: 'Catchye', sans-serif;
    width: 100%;
    /*te dwie pierwsze sa poprostu do roznych przegladarek wysmuklajasze*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 440;
    /*blokuje sztuczne pogrubienia strony*/
    font-synthesis: none;

    padding-left: 25px;

}

.hero h2{
    font-size: 80px;
}

/*specicaly szeefa*/
#specials{
    color:white;
    font-size: 59px;
    font-family: 'Catchye', sans-serif;
    margin-top: 120px;
    /*te dwie pierwsze sa poprostu do roznych przegladarek wysmuklajasze*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 40;
    font-synthesis: none;/*blokuje sztuczne pogrubienia strony*/
}

#specials h3{
    text-align: center;
    margin-bottom: 120px;
}

.specialsphotos{
    display: flex;
    justify-content: center;
    
}

.poziome{
    display: flex;
    flex-direction: column; 
}

#specials a { /*tworzymy przycisk z linku*/
    text-decoration: none; /*usuwa podkreslenie*/
    color: white;
    background-color: rgb(84,126,105);
    padding: 20px 30px; /*10 gora dol 20 prawo lewo*/
    border-radius: 30px; /*zaokragla przycisk*/


}
